.icon-editor-container {
  
  border-radius: 8px;
  width: 100%;
  padding-left: 1%;
}

.icon-editor-title {
  text-align: left;
  color: #373e4a;
  /* Mantido o valor único */
  margin: 20px 0 20px 5px;
  /* Simplificado para margem superior e inferior */
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1;
  font-family: inherit;
}

.icon-editor-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.icon-editor-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.icon-editor-input, 
.icon-editor-input-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon-editor-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.icon-editor-button:hover {
  background-color: #0056b3;
}

.icon-editor-button-delete {
  background-color: #dc3545;
}

.icon-editor-button-delete:hover {
  background-color: #c82333;
}

.icon-preview {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}
