.icon-editor-container {
  border-radius: 8px;
  width: 100%;
  padding-left: 1%;
}

.icon-editor-title {
  text-align: left;
  color: #373e4a;
  margin: 20px 0 20px 5px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1;
  font-family: inherit;
}

.icon-editor-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  align-items: center;
}

.icon-editor-label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
  width: 313px;
}

.select {
  width: 313px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 11px 2px rgba(0, 54, 130, 0.53) !important;
}

.icon-editor-input {
  margin-left: 8px;
  width: 313px;
}

.icon-editor-input-file {
  padding: 5px;
}

.icon-preview-container {
  width: 60px;
  height: 60px;
  overflow: hidden; /* Esconde o que ultrapassar */
  border: 1px solid #ccc; /* Opcional: borda para visualização */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-preview {
  width: 100%;
  height: auto;
  object-fit: cover; /* Mantém a proporção da imagem */
}

/* Botão */
.icon-editor-button-salvar {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 7%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-top: 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.icon-editor-button-atualizar-deletar {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 40%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-top: 10px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  margin-right: 10%;
  cursor: pointer;
}

.icon-editor-button:hover {
  background-color: #1a1f3c;
}

body {
  background: #DADADA;
  padding-right: 2%;
}

.icon-editor-label-title {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  width: 100%;
  box-shadow: 0px 2px 11px 2px rgba(0, 54, 130, 0.53) !important;
  padding-bottom: 1px;
  text-align: center;
  margin-top: 10px;
  padding-top: 1px;
}
.icon-preview-imagem{
  width: 60px;
  height: 60px;
}