.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 100vh;
  width: 100vw;
  position: relative; /* Necessário para a pseudo-classe ::before */
}
.grid-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/assets/logonova.png');
  background-size: 100px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1; /* Controla a opacidade da imagem */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}
.square {
  height: 50px; /* Altura de cada quadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para posicionamento absoluto dos ícones associados */
}
.icon-container {
  position: absolute; /* Posiciona o ícone acima do quadrado */
  top: -30px; /* Ajuste conforme necessário para posicionar o ícone acima */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a posição para que fique centralizado */
}
.icon {
  width: 60px; /* Largura do ícone */

}
.associated-icons {
  position: absolute; /* Para posicionar ícones associados em relação ao ícone pai */
  top: 0;
  left: 100%; /* Coloca os ícones associados à direita do ícone pai */
  white-space: nowrap; /* Impede que os ícones associados quebrem linha */
}
/* Estilos específicos para o 'icon-3' */
.special-icon {
  width: 200px;  /* Largura maior para 'icon-3' */
  height: 100px; /* Altura maior para 'icon-3' */
}