.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transform: translate(calc(-100% * var(--offset-x)), calc(-100% * var(--offset-y)));
  transition: transform 0.5s ease;
}

.grid-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/logonova.png');
  background-size: 100px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1;
  /* Controla a opacidade da imagem */
  z-index: -1;
  /* Coloca a imagem atrás do conteúdo */
}

.square {
  height: 50px;
  /* Altura fixa de cada quadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Para possibilitar o posicionamento absoluto do ícone */
}

.icon-container {
  position: absolute;
  /* Posiciona o ícone acima do quadrado */

  /* Ajuste conforme necessário para posicionar o ícone acima */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translateX(-50%);
  /* Ajusta para centralizar */
  
}

.icon {
  width: 50px;
  /* Largura fixa do ícone */
  height: 50px;
  /* Mantém a proporção da imagem */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  /* Efeito de zoom ao passar o mouse */
}

.associated-icons {
  position: absolute;
  /* Posiciona os ícones associados em relação ao ícone pai */
  top: 0;
  left: 100%;
  /* Coloca os ícones associados à direita do ícone pai */
  white-space: nowrap;
  /* Impede quebra de linha */
  cursor: pointer;
}

.special-icon {
  width: 260px;
  /* Largura maior específica */
  height: 130px;
  /* Altura maior específica */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content button {
  margin-top: 10px;
}

.hover-text {
  position: absolute;
  top: -30px;
  /* Posiciona o texto acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: #202959;
  /* Fundo escuro */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  /* Evita quebra de linha */
  opacity: 0;
  /* Invisível por padrão */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon-container:hover .hover-text {
  opacity: 1;
  visibility: visible;
  /* Mostra o texto ao passar o mouse */
}

.button-container {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  /* Evita cliques quando oculto */
  position: fixed;
  top: 60px;
  right: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 10000;
  /* Eleva os botões acima de outros elementos */
  background-color: #fff;
  /* Fundo branco para a caixa */
  padding: 15px;
  /* Espaçamento interno */
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  /* Sombra suave */
  display: flex;
  flex-direction: column;
  /* Empilha os elementos verticalmente */
  gap: 10px;
  /* Espaço entre os elementos */
  width: 8%; /* Definindo uma largura fixa para evitar dilatação */
}

.position-indicator {
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  /* Centraliza o texto */
}

.iframe-content {
  width: 95%;
  height: 500px;
}

.modal-content button {
  position: fixed;
  left: 1175px;
  color: red;
  border: none;
  font-size: 20px;
  background-color: rgb(150, 150, 150);
  border-radius: 5px;
}

.modal-content {
  width: 55%;
}

#teste {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

#teste2 {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

#teste3 {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

.editar-mosaico {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.close-button {
  cursor: pointer;
}

.text-content {
  white-space: pre-wrap;
  /* Respeita espaços e quebras de linha */
  word-wrap: break-word;
  /* Evita que palavras muito longas quebrem o layout */
}

.button-container.visible {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo opaco */
  transform: translateY(0);
  pointer-events: auto;
  padding: 0.8%;
  /* Permite cliques quando visível */
  cursor: pointer;
  position: fixed;
  border: #202959;
  border-style: solid;
  padding-top: 0px;
  top: 14.7%;
  backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
}

.button-container.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  /* Evita cliques quando oculto */
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.menu-icon2 {
  cursor: pointer;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.additional-div{
  z-index: 100000000000000000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}
#teste31 {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 10;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}
#teste4 {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}
.position-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.position-inputs input {
  width: 50px;
  padding: 5px;
}

.position-inputs button {
  padding: 5px 10px;
  cursor: pointer;
}
.selected-square {
  border: 2px solid red; /* Mude para o estilo desejado */
}
.current-position {
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
}
.icon-menu {
  position: fixed;
  top: 0px;
  right: 105%;
  width: 458px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo opaco */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  border: #202959;
  border-style: solid;
  padding: 16px;
  overflow-y: auto;
  border-radius: 8px;
  
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.icon-item {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 54px;
  height: 7%;
  transition: transform 0.2s;
}
.icon-item p {
font-size: small;
padding-top: 0px;
}
.icon-item:hover {
  transform: scale(1.05);
}
.menu-icon-image{
  width: 50px;
  height: 50px;
}
.icon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.grid-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.menu-button {
  width: 60px;
  height: 60px;
  font-size: 10px;
  background-color: #202959;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;      /* Centraliza o texto */
  word-wrap: break-word;   /* Permite a quebra de palavras */
  white-space: normal;     /* Permite que o texto use várias linhas */
  overflow: hidden;        /* Esconde texto que ultrapassa o limite */
  padding: 5px;
}

.menu-button:hover {
  background-color: #202959;
  transform: scale(1.05);
}
.position-inputs {
  width: 100%; /* Para combinar com o padding de 15px do .button-container */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box; /* Garante que padding não aumente o tamanho */
  align-items: center;
}

.position-inputs label {
  font-size: 12px;
  width: 100%;
}

.position-inputs input {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.position-inputs button {
  width: 100%;
}

.grid-menu {
  width: 100%;
}
.loading {
  text-align: center;
  font-size: 20px;
  color: #007bff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading::before {
  content: '';
  width: 30px;
  height: 30px;
  border: 4px solid #007bff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.icon-box {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  gap: 5px; /* Espaço entre os ícones e o nome */
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semitransparente */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo opaco */
  transform: translateY(0);
  pointer-events: auto;
  cursor: pointer;
  border: #202959;
  border-style: solid;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 1000000000000000; /* Certifica que está acima de outros elementos */
}

.icon-buttons {
  display: flex; /* Organiza os ícones na mesma linha */
  gap: 10px; /* Espaço entre os ícones */
}

a {
  font-size: 14px; /* Tamanho de fonte adequado */
  color: #202959; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  text-align: center; /* Centraliza o texto */
}
h4 {
  margin-top: 0; /* Remove a margem superior */
  padding-top: 5px; /* Ajusta o padding superior conforme necessário */
  text-align: center;
  margin-bottom: 0;
}
.icon-idd {
  margin: 2px 0; /* Reduz o espaçamento acima e abaixo do texto */
  font-size: 14px; /* Ajuste o tamanho da fonte se necessário */
  text-align: center; /* Centraliza o texto, se for relevante */
}
.create-icon-item {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 54px;
  height: 7%;
  transition: transform 0.2s;
}

.create-icon-item:hover {
  background-color: #e6e6e6; /* Fundo ao passar o mouse */
}

.create-icon-placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #999; /* Cor do ícone de "+" */
}