* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 100vh;
  width: 100vw;
}

.square {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  font-family: Arial, sans-serif;
}



.related-icons .icon {
  margin-top: 5px;
}
