.icon-container {
    position: absolute;
    z-index: 1; /* O ícone será sobreposto a outros elementos */
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 1; /* Garante que o ícone flutue acima de todos os quadrados */
  }

  .additional-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px; /* Ajusta a posição dos ícones adicionais */
    left: 0;
    z-index: 1; /* Garante que os ícones flutuantes também fiquem acima dos quadrados */
  }
  .icon-legacy {
    width: 200px;
    height: 100px;
    z-index: 1;
  }
 
  .hover-text {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 20000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .mini-icon-image {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px; /* Ajusta a posição dos ícones adicionais */
    left: 0;
    z-index: 1; /* Garante que os ícones flutuantes também fiquem acima dos quadrados */
    cursor: pointer;
  }
  .modal-overlay {
    position: fixed;
    top: 35px;
    left: 550px;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100; /* Valor alto para garantir que fique acima de tudo */
}

.modal-content {
  background: rgb(170, 54, 54);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 50%;
  max-width: 600px;
  z-index: 1; /* Também garantido no conteúdo do modal */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 1; /* Mantém o botão acima do conteúdo */
}